body{
  background-image: url('https://www.itsnicethat.com/system/files/042018/5ae6f3217fa44c56d400009b/images_slice_large/david-shrigley-itsnicethat-fully-coherent-plan-book-Lies.jpg?1525085136');
  height: 100%;
}
.mdl-layout__header-row{
  
  background: rgb(0, 0, 0);
}
.mdl-layout__drawer-button{
  background: rgb(169, 184, 228);
 
}
.material-icons{
  background-color: pink;
}
a{
  color: rgb(250, 109, 109);
}
/* .landing-grid{
  background-image: url('https://www.itsnicethat.com/system/files/042018/5ae6f3217fa44c56d400009b/images_slice_large/david-shrigley-itsnicethat-fully-coherent-plan-book-Lies.jpg?1525085136')
} */

.portfolio{
  height: 250px;
  padding-top: 5em;
  /* color: #AA1111; */
  color: pink;
  font-size: 400px;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);


}
p{
  color: black;
  font-size:20px;
}


/* contact page */
.contact{
  margin: 15px;
}




